.btn {
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 18px;
  transition: 0.2s ease;
  align-items: center;
  justify-content: center;
  gap: 6px;
  display: inline-flex;

  &-secondary {
    background-color: $color-secondary;
    color: $color-primary;
  }

  &-primary {
    background-color: $color-primary;
    color: $color-white;
  }

  &.btn-large {
    min-width: 184px;
  }
}

.buttons {
  display: flex;
  gap: 17px;
}

.hero-section .container-full .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

  i {
    margin-right: 5px;
    color: $color-primary;
  }
}

@media (max-width: 576px) {
  .hero-section {
    .buttons {
      flex-direction: column;

      a {
        margin: 0 auto;
      }
    }
  }
}
