// COLORS
$color-primary: #6f47eb;
$color-primary-light: #eff0fc;
$color-primary-dark: #1c1934;

$color-secondary: #d8dbfb;

$color-grey: #5e5d6d;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
